body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('background.png'); /* Caminho para sua imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem no fundo */
    background-repeat: no-repeat; /* Evita repetir a imagem */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 90%;
}

h1 {
    text-align: center;
    color: #333;
}

.question {
    margin-bottom: 20px;
}

.question h3 {
    font-size: 18px;
    color: #555;
}

.options {
    list-style-type: none;
    padding: 0;
}

.options li {
    margin-bottom: 10px;
}

.options label {
    font-size: 16px;
    color: #333;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.result {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 5px;
}

.result h2 {
    text-align: center;
    color: #333;
}

.result p {
    font-size: 16px;
    color: #333;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .question h3 {
        font-size: 16px;
    }

    .options label {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    .result p {
        font-size: 14px;
    }

}